@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Varela+Round&display=swap');

body{
    background: linear-gradient(#00bfff, #e0ffff);
}

nav{
    font-family: 'Varela Round', sans-serif;
}

.profile-photo{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    margin-top: 18px; 
    margin-left: 10px;
}

.profile-photo img{
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.profile-photo-comments{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-photo-comments img{
    bottom: 0;
    width: 100%; 
}
.cards{
    flex-direction: column;
    align-content: center;
}

.user-info{
    display: flex;
    align-items: center;
}

.username{
    margin-left: 2%;
    margin-top: 15px;
}

.likes{
    display: flex;
    justify-content: space-between;
}

.category-dark-blue{
    background-color: #202A44;
}

.category-light-blue{
    background-color: #009CDE;
}

.category-grassland-green{
    background-color: #97D700;
}

.category-orange{
    background-color: #ED8B00;
}

.category-comments{
    background-color: #ccced2;
    color: #000000;
}

.card-title a{
    text-decoration: none;
    color: darkslategrey;
}

.comments span{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.comment-body{
    margin-left: 4px;
}