.profile-photo{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    margin-top: 5px; 
    margin-left: 5px;
}

.profile-photo img{
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.cards{
    flex-direction: column;
    align-content: center;
}

.user-info{
    display: flex;
    align-items: center;
}

.username{
    margin-left: 2%;
}

.likes{
    display: flex;
    justify-content: space-between;
}